body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1193px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23951_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:578px;
  height:1046px;
}
#u23951 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:578px;
  height:1046px;
}
#u23951_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23952 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:154px;
  width:414px;
  height:736px;
}
#u23952_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
  overflow:hidden;
}
#u23953_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:420px;
  height:50px;
}
#u23953 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:174px;
  width:414px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#434343;
}
#u23953_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:410px;
  word-wrap:break-word;
}
#u23954 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23955_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u23955 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:154px;
  width:414px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u23955_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:410px;
  word-wrap:break-word;
}
#u23956_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:5px;
}
#u23956 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:162px;
  width:33px;
  height:5px;
}
#u23956_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:10px;
}
#u23957 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:159px;
  width:25px;
  height:10px;
}
#u23957_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23958_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u23958 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:158px;
  width:31px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u23958_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u23959_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u23959 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:154px;
  width:22px;
  height:20px;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u23959_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23960 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:154px;
  width:18px;
  height:20px;
  overflow:hidden;
}
#u23960_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u23960_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23960_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u23960_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:35px;
}
#u23961 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:180px;
  width:22px;
  height:35px;
  color:#FFFFFF;
}
#u23961_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23962_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#949494;
}
#u23962 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:245px;
  width:68px;
  height:22px;
  font-size:18px;
  color:#949494;
}
#u23962_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u23963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:2px;
}
#u23963 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:285px;
  width:414px;
  height:1px;
}
#u23963_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23964_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:43px;
  height:9px;
}
#u23964 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:283px;
  width:38px;
  height:4px;
}
#u23964_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23965_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:rgba(255, 0, 0, 0.2);
}
#u23965 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:245px;
  width:75px;
  height:22px;
  font-size:18px;
  color:rgba(255, 0, 0, 0.2);
}
#u23965_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u23966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u23966 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:552px;
  width:35px;
  height:35px;
}
#u23966_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23967_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23967 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:551px;
  width:358px;
  height:38px;
}
#u23967_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  word-wrap:break-word;
}
#u23968 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23969_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u23969 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:313px;
  width:358px;
  height:38px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u23969_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  word-wrap:break-word;
}
#u23970_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u23970 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:388px;
  width:358px;
  height:38px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u23970_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  word-wrap:break-word;
}
#u23971_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u23971 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:356px;
  width:112px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u23971_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u23972_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u23972 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:430px;
  width:112px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u23972_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u23973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u23973 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:324px;
  width:35px;
  height:35px;
}
#u23973_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u23974 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:400px;
  width:35px;
  height:35px;
}
#u23974_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23975 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23976_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u23976 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:463px;
  width:358px;
  height:38px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u23976_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  word-wrap:break-word;
}
#u23977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u23977 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:476px;
  width:35px;
  height:35px;
}
#u23977_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23978_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u23978 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:506px;
  width:112px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u23978_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u23979 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:154px;
  width:414px;
  height:736px;
  overflow:hidden;
}
#u23979_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u23979_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.698039215686274);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23980 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
}
#u23980_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23981 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:400px;
  width:333px;
  height:341px;
  overflow:hidden;
}
#u23981_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:341px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u23981_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23982_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:342px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23982 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:342px;
}
#u23982_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23983_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF6600;
}
#u23983 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:12px;
  width:164px;
  height:23px;
  font-size:20px;
  color:#FF6600;
}
#u23983_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u23984_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u23984 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:82px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u23984_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u23985_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u23985 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:82px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u23985_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u23986_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:25px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-bottom:0px;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23986 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:333px;
  height:25px;
}
#u23986_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:329px;
  word-wrap:break-word;
}
#u23987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:122px;
  height:19px;
}
#u23987p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:118px;
  height:6px;
}
#u23987p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:6px;
}
#u23987p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:0px;
  width:4px;
  height:2px;
}
#u23987p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:2px;
}
#u23987p002 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:-10px;
  width:22px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u23987p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u23987 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:98px;
  width:113px;
  height:1px;
}
#u23987_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23988_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u23988 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:80px;
  width:34px;
  height:11px;
  font-size:9px;
}
#u23988_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u23989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u23989 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:84px;
  width:17px;
  height:17px;
}
#u23989_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23990_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#949494;
}
#u23990 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:86px;
  width:42px;
  height:14px;
  font-size:12px;
  color:#949494;
}
#u23990_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u23991_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#949494;
}
#u23991 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:87px;
  width:38px;
  height:14px;
  font-size:12px;
  color:#949494;
}
#u23991_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u23992_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#949494;
}
#u23992 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:153px;
  width:57px;
  height:11px;
  font-size:9px;
  color:#949494;
}
#u23992_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u23993_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#949494;
}
#u23993 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:171px;
  width:52px;
  height:11px;
  font-size:9px;
  color:#949494;
}
#u23993_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u23994_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u23994 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:135px;
  width:146px;
  height:11px;
  font-size:9px;
}
#u23994_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  word-wrap:break-word;
}
#u23995_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u23995 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:225px;
  width:281px;
  height:11px;
  font-size:9px;
}
#u23995_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  word-wrap:break-word;
}
#u23996_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#949494;
}
#u23996 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:117px;
  width:155px;
  height:11px;
  font-size:9px;
  color:#949494;
}
#u23996_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
#u23997_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#949494;
}
#u23997 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:117px;
  width:149px;
  height:11px;
  font-size:9px;
  color:#949494;
}
#u23997_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  word-wrap:break-word;
}
#u23998_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u23998 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:135px;
  width:131px;
  height:11px;
  font-size:9px;
}
#u23998_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u23999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:8px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:6px;
  color:rgba(255, 0, 0, 0.2);
}
#u23999 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:148px;
  width:147px;
  height:8px;
  font-size:6px;
  color:rgba(255, 0, 0, 0.2);
}
#u23999_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  word-wrap:break-word;
}
#u24000_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#949494;
}
#u24000 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:171px;
  width:143px;
  height:11px;
  font-size:9px;
  color:#949494;
}
#u24000_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  word-wrap:break-word;
}
#u24001_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#949494;
}
#u24001 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:243px;
  width:96px;
  height:11px;
  font-size:9px;
  color:#949494;
}
#u24001_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u24002_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#949494;
}
#u24002 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:261px;
  width:96px;
  height:11px;
  font-size:9px;
  color:#949494;
}
#u24002_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u24003_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u24003 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:189px;
  width:130px;
  height:11px;
  font-size:9px;
}
#u24003_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u24004_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u24004 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:206px;
  width:281px;
  height:11px;
  font-size:9px;
}
#u24004_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  word-wrap:break-word;
}
#u24005_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:23px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u24005 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:298px;
  width:101px;
  height:23px;
  font-size:12px;
}
#u24005_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:97px;
  word-wrap:break-word;
}
#u24006_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:23px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.2);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u24006 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:298px;
  width:101px;
  height:23px;
  font-size:12px;
}
#u24006_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:97px;
  word-wrap:break-word;
}
#u24007_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#949494;
}
#u24007 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:171px;
  width:54px;
  height:11px;
  font-size:9px;
  color:#949494;
}
#u24007_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u24008_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
}
#u24008 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:135px;
  width:79px;
  height:10px;
  font-size:8px;
}
#u24008_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u24009_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u24009 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:189px;
  width:143px;
  height:11px;
  font-size:9px;
}
#u24009_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  word-wrap:break-word;
}
#u24010_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#949494;
}
#u24010 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:153px;
  width:54px;
  height:11px;
  font-size:9px;
  color:#949494;
}
#u24010_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u24011_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#949494;
}
#u24011 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:243px;
  width:54px;
  height:11px;
  font-size:9px;
  color:#949494;
}
#u24011_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u24012_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#949494;
}
#u24012 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:261px;
  width:54px;
  height:11px;
  font-size:9px;
  color:#949494;
}
#u24012_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u24013 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:784px;
  width:317px;
  height:60px;
  overflow:hidden;
  visibility:hidden;
}
#u24013_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u24013_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:60px;
}
#u24014 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u24014_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:313px;
  word-wrap:break-word;
}
#u24015 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:689px;
  width:147px;
  height:42px;
  overflow:hidden;
}
#u24015_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:42px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u24015_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24016_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:605px;
  height:355px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:18px;
}
#u24016 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:306px;
  width:605px;
  height:355px;
  font-size:18px;
}
#u24016_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:585px;
  word-wrap:break-word;
}
