body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1482px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13365_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:578px;
  height:1046px;
}
#u13365 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:578px;
  height:1046px;
}
#u13365_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13366 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:154px;
  width:414px;
  height:736px;
}
#u13366_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
  overflow:hidden;
}
#u13367_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:659px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13367 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:231px;
  width:414px;
  height:659px;
}
#u13367_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13368 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13369_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u13369 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:154px;
  width:414px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u13369_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:410px;
  word-wrap:break-word;
}
#u13370_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:5px;
}
#u13370 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:162px;
  width:33px;
  height:5px;
}
#u13370_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13371_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:10px;
}
#u13371 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:159px;
  width:25px;
  height:10px;
}
#u13371_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13372_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u13372 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:158px;
  width:31px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u13372_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u13373_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u13373 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:154px;
  width:22px;
  height:20px;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u13373_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13374 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:154px;
  width:18px;
  height:20px;
  overflow:hidden;
}
#u13374_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13374_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13374_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13374_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u13375 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:177px;
  width:26px;
  height:26px;
}
#u13375_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u13376 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:179px;
  width:24px;
  height:24px;
}
#u13376_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u13377 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:174px;
  width:25px;
  height:24px;
}
#u13377_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13378 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13379_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#949494;
}
#u13379 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:177px;
  width:44px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#949494;
}
#u13379_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u13380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:7px;
}
#u13380 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:183px;
  width:13px;
  height:7px;
}
#u13380_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:353px;
}
#u13381 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:231px;
  width:414px;
  height:353px;
}
#u13381_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13382_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u13382 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:207px;
  width:59px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u13382_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u13383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:306px;
}
#u13383 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:584px;
  width:414px;
  height:306px;
}
#u13383_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:18px;
}
#u13384 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:211px;
  width:22px;
  height:18px;
  color:#FFFFFF;
}
#u13384_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13385_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:449px;
  background:-webkit-linear-gradient(270deg, rgba(228, 228, 228, 1) 0%, rgba(228, 228, 228, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(228, 228, 228, 1) 0%, rgba(228, 228, 228, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(228, 228, 228, 1) 0%, rgba(228, 228, 228, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13385 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:243px;
  width:398px;
  height:449px;
}
#u13385_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:2px;
}
#u13386 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:324px;
  width:340px;
  height:1px;
}
#u13386_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13387_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:22px;
  height:22px;
}
#u13387 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:297px;
  width:12px;
  height:12px;
}
#u13387_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13388_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13388 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:294px;
  width:110px;
  height:18px;
}
#u13388_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u13389_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:22px;
  height:22px;
}
#u13389 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:339px;
  width:12px;
  height:12px;
}
#u13389_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13390_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13390 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:338px;
  width:127px;
  height:16px;
}
#u13390_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u13391_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u13391 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:262px;
  width:30px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u13391_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u13392_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#949494;
}
#u13392 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:262px;
  width:30px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#949494;
}
#u13392_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u13393_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:33px;
  height:6px;
}
#u13393 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:291px;
  width:30px;
  height:3px;
}
#u13393_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13394_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:82px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13394 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:259px;
  width:50px;
  height:25px;
}
#u13394_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(76, 216, 100, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(76, 216, 100, 1);
  border-radius:82px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13394.selected {
}
#u13394_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:46px;
  word-wrap:break-word;
}
#u13395 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13396_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13396 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:374px;
  width:59px;
  height:18px;
}
#u13396_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u13397_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:30px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#949494;
}
#u13397 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:368px;
  width:261px;
  height:30px;
  font-size:12px;
  color:#949494;
}
#u13397_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13398_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#949494;
}
#u13398 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:264px;
  width:27px;
  height:15px;
  font-size:13px;
  color:#949494;
}
#u13398_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u13399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:24px;
}
#u13399 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:791px;
  width:15px;
  height:24px;
}
#u13399_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u13400 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:751px;
  width:61px;
  height:61px;
}
#u13400_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13401 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:44px;
}
#u13402 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:744px;
  width:109px;
  height:44px;
}
#u13402_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13403 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13404_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u13404 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:751px;
  width:71px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u13404_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u13405 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u13406 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:822px;
  width:12px;
  height:12px;
}
#u13406_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u13407 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:832px;
  width:12px;
  height:12px;
}
#u13407_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13408_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u13408 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:814px;
  width:12px;
  height:12px;
}
#u13408_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13409_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u13409 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:814px;
  width:12px;
  height:12px;
}
#u13409_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u13410 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:786px;
  width:12px;
  height:12px;
}
#u13410_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13411_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u13411 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:808px;
  width:12px;
  height:12px;
}
#u13411_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u13412 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:802px;
  width:12px;
  height:12px;
}
#u13412_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13413_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13413 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:419px;
  width:57px;
  height:16px;
}
#u13413_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u13414_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:51px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#949494;
}
#u13414 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:406px;
  width:261px;
  height:51px;
  font-size:14px;
  color:#949494;
}
#u13414_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13415_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13415 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:509px;
  width:57px;
  height:16px;
}
#u13415_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u13416_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13416 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:547px;
  width:57px;
  height:16px;
}
#u13416_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u13417_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#949494;
}
#u13417 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:508px;
  width:23px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#949494;
}
#u13417_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u13418_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#949494;
}
#u13418 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:546px;
  width:23px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#949494;
}
#u13418_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u13419_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13419 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:640px;
  width:51px;
  height:16px;
}
#u13419_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u13420_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13420 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:602px;
  width:51px;
  height:16px;
}
#u13420_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u13421_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#949494;
}
#u13421 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:574px;
  width:229px;
  height:13px;
  font-size:10px;
  color:#949494;
}
#u13421_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  word-wrap:break-word;
}
#u13422_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13422 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:471px;
  width:57px;
  height:16px;
}
#u13422_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u13423 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u13424 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:467px;
  width:20px;
  height:20px;
}
#u13424_img.selected {
}
#u13424.selected {
}
#u13424_img.disabled {
}
#u13424.disabled {
}
#u13424_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13425_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13425 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:469px;
  width:44px;
  height:16px;
}
#u13425_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u13426 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13427_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u13427 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:467px;
  width:20px;
  height:20px;
}
#u13427_img.selected {
}
#u13427.selected {
}
#u13427_img.disabled {
}
#u13427.disabled {
}
#u13427_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13428_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13428 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:469px;
  width:44px;
  height:16px;
}
#u13428_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u13429 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13430_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u13430 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:414px;
  width:35px;
  height:35px;
}
#u13430_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13431_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:21px;
}
#u13431 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:421px;
  width:20px;
  height:21px;
}
#u13431_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13432 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13433_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u13433 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:414px;
  width:35px;
  height:35px;
  font-size:11px;
}
#u13433_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:31px;
  word-wrap:break-word;
}
#u13434 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13435 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13436 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13437_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u13437 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:414px;
  width:35px;
  height:35px;
}
#u13437_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13438_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u13438 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:420px;
  width:22px;
  height:22px;
}
#u13438_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13439 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13440 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u13441 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:414px;
  width:35px;
  height:35px;
}
#u13441_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13442_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:21px;
}
#u13442 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:421px;
  width:25px;
  height:21px;
}
#u13442_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13443 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13444 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u13445 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:414px;
  width:35px;
  height:35px;
}
#u13445_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13446_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:27px;
}
#u13446 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:418px;
  width:16px;
  height:27px;
}
#u13446_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13447 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13448 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u13449 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:414px;
  width:35px;
  height:35px;
}
#u13449_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13450_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:22px;
}
#u13450 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:421px;
  width:21px;
  height:22px;
}
#u13450_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13451 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:435px;
  width:14px;
  height:14px;
  overflow:hidden;
  visibility:hidden;
}
#u13451_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13451_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13452_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u13452 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u13452_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13453 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:435px;
  width:14px;
  height:14px;
  overflow:hidden;
  visibility:hidden;
}
#u13453_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13453_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13454_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u13454 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u13454_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13455 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:435px;
  width:14px;
  height:14px;
  overflow:hidden;
  visibility:hidden;
}
#u13455_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13455_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13456_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u13456 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u13456_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13457 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:435px;
  width:14px;
  height:14px;
  overflow:hidden;
  visibility:hidden;
}
#u13457_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13457_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13458_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u13458 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u13458_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13459 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:435px;
  width:14px;
  height:14px;
  overflow:hidden;
  visibility:hidden;
}
#u13459_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13459_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u13460 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u13460_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13461 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:435px;
  width:14px;
  height:14px;
  overflow:hidden;
  visibility:hidden;
}
#u13461_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13461_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13462_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u13462 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u13462_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13463 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:502px;
  width:261px;
  height:30px;
}
#u13463_input {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u13463_input:disabled {
  color:grayText;
}
#u13464 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:542px;
  width:261px;
  height:30px;
}
#u13464_input {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:30px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#949494;
  text-align:center;
}
#u13465 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:595px;
  width:261px;
  height:30px;
}
#u13465_input {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#949494;
  text-align:left;
}
#u13466 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:635px;
  width:261px;
  height:30px;
}
#u13466_input {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#949494;
  text-align:left;
}
#u13467 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:46px;
}
#u13468 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:822px;
  width:379px;
  height:46px;
}
#u13468_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13469 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13470_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:rgba(255, 0, 0, 0.2);
}
#u13470 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:833px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:rgba(255, 0, 0, 0.2);
}
#u13470_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u13471 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:154px;
  width:414px;
  height:736px;
  overflow:hidden;
  visibility:hidden;
}
#u13471_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13471_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:733px;
}
#u13472 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:733px;
}
#u13472_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13473 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:154px;
  width:414px;
  height:736px;
  overflow:hidden;
  visibility:hidden;
}
#u13473_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13473_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13474_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:736px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.698039215686274);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13474 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:736px;
}
#u13474_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13475 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:545px;
  width:414px;
  height:345px;
  overflow:hidden;
  visibility:hidden;
}
#u13475_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:345px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13475_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:345px;
}
#u13476 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:345px;
}
#u13476_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:24px;
}
#u13477 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:29px;
  width:37px;
  height:24px;
}
#u13477_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13478_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13478 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:21px;
  width:42px;
  height:37px;
}
#u13478_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13479_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:rgba(255, 0, 0, 0.2);
}
#u13479 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:33px;
  width:32px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:rgba(255, 0, 0, 0.2);
}
#u13479_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u13480_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:894px;
  height:804px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:18px;
}
#u13480 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:154px;
  width:894px;
  height:804px;
  font-size:18px;
}
#u13480_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:874px;
  word-wrap:break-word;
}
