body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1482px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:578px;
  height:1046px;
}
#u13126 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:578px;
  height:1046px;
}
#u13126_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13127 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:154px;
  width:414px;
  height:736px;
}
#u13127_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
  overflow:hidden;
}
#u13128_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:420px;
  height:50px;
}
#u13128 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:174px;
  width:414px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#434343;
}
#u13128_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13129 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13130_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u13130 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:154px;
  width:414px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u13130_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:410px;
  word-wrap:break-word;
}
#u13131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:5px;
}
#u13131 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:162px;
  width:33px;
  height:5px;
}
#u13131_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:10px;
}
#u13132 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:159px;
  width:25px;
  height:10px;
}
#u13132_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13133_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u13133 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:158px;
  width:31px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u13133_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u13134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u13134 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:154px;
  width:22px;
  height:20px;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u13134_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13135 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:154px;
  width:18px;
  height:20px;
  overflow:hidden;
}
#u13135_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13135_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13135_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13135_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:735px;
}
#u13136 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:154px;
  width:414px;
  height:735px;
}
#u13136_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#1E1E1E;
}
#u13137 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:272px;
  width:185px;
  height:23px;
  font-size:20px;
  color:#1E1E1E;
}
#u13137_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  word-wrap:break-word;
}
#u13138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#1E1E1E;
}
#u13138 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:298px;
  width:185px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#1E1E1E;
}
#u13138_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  word-wrap:break-word;
}
#u13139 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:405px;
  width:399px;
  height:86px;
  overflow:hidden;
}
#u13139_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:86px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13139_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:894px;
  height:804px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:18px;
}
#u13140 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:154px;
  width:894px;
  height:804px;
  font-size:18px;
}
#u13140_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:874px;
  word-wrap:break-word;
}
